# build
dist
.solid
.output
.vinxi
.vercel
.netlify
netlify

# Python
__pycache__

# environment
.env
.env*.local

# dependencies
/node_modules
venv

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# system files
.DS_Store
Thumbs.db
