@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  @apply bg-[#f6f1f1];
}
.dark::-webkit-scrollbar-track {
  @apply bg-[#000000];
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  @apply bg-neutral-400;
}

.dark::-webkit-scrollbar-thumb {
  @apply bg-neutral-800;
}

::-webkit-scrollbar-corner {
  @apply bg-[#f6f1f1];
}
.dark::-webkit-scrollbar-corner {
  @apply bg-[#000000];
}

main {
  background: radial-gradient(circle, #d6d3d1 0.1rem, #f5f5f4 0.1rem) top left /
    2rem 2rem;
}

.dark main {
  background: radial-gradient(circle, #292524 0.1rem, #000000 0.1rem) top left /
    2rem 2rem;
}
